#background {
  position: fixed;
  background-size: 100%;
}

#title {
    text-align: center;
    font-size: 137px;
    color: white;
    font-family: Snell Roundhand, cursive;
    border-width:15px;  
    border-style:dotted;
}

#start {
    background-color: transparent;
    text-align: center;
    font-size: 37px;
    color: white;
    font-family: snell roundhand, cursive;
    font: bolder;
}
